<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <% include ./partials/_header %>
  <% for (number in urls) { %>
    <form method="POST" action="/urls/<%= number %>/delete">
      <li>  <%= number %>, <a href=<%= urls[number]%>> <%= urls[number]%></a>
      <a href = <%= number %>> Edit</a>
      <input type="submit" value="Delete">
    </form>
  </li>
  <% }%>

</body>
</html>